ECON 314 – Assignment 1 – Introduction to Python

Problem 1.1
1.	Create a list a which includes the texts 'string1', 'string2' and 'string3'
2.	Create a list b that adds each elements of a to the string 'this is' by iterating/looping over the elements of a
    a.	so b should be ['this is string1','this is string2','this is string3']
3.	Print b

In [20]:
#Problem 1.1
a = 100
print(a)
b = a**2
print(b)
c = 'Python is great'
c = c.replace('Python','ECON314')
print('my grade is', b,'percent')

100
10000
my grade is 10000 percent

Problem 1.2
1.	Create a list variable called ‘a’, with as elements the strings ‘me’ and ‘myself’ 
2.	Create a list variable called ‘b’, with as element the string ‘I’
3.	Create a variable ‘c’ that has the elements of both ‘a’ and ‘b’ and print c
4.	Select the third element of ‘c’ , call it ‘d’ and print d
5.	Use an if-else statement to check the following:
    a.	If ‘d’ equals ‘I’, print the word ‘nice’
    b.	If ‘d’ equals ‘me’, print the word ‘great’
    c.	If ‘d’ equals ‘myself’, print the word ‘excellent

In [73]:
#Problem 1.2
a = ['me','myself']
b = 'I'
c = a
c.insert(2,b)
print(c)
d = c[2]
print(d)
if d == 'I':
    print('nice')
if d == 'me':
    print('great')
if d == 'myself':
    print('excellent')

['me', 'myself', 'I']
I
nice

Problem 1.3
1.	Generate the list ‘a’ which has the numbers 1,3,5,7,9,11
2.	Loop over the elements of ‘a’ and print the word ‘success’ whenever the element is smaller than or equal to 5 and prints ‘failure’ otherwise

In [74]:
#Problem 1.3
a = [1,3,5,7,9,11]
for number in a:
    if number <=5:
        print('sucess')
    if number >5:
        print('failure')

sucess
sucess
sucess
failure
failure
failure

Problem 1.4
1.	Create a list a which includes the texts 'string1', 'string2' and 'string3'
2.	Create a list b that adds each elements of a to the string 'this is' by iterating/looping over the elements of a
a.	so b should be ['this is string1','this is string2','this is string3']
3.	Print b

In [117]:
#Problem 1.4
b = []
a = ['string1','string2','string3']
for i in a:
        b.append('this is ' + i)
print(b)

['this is string1', 'this is string2', 'this is string3']

Problem 1.5
1. Load ‘autotrader assignment.xlsx’ into python
2. Create a new dataframe that only includes the cars with cc more than 2000
3. Print that new dataframe
4. Compute the descriptive stats of that new dataframe

In [4]:
#Problem 1.5
import pandas as pd
autotrader = pd.ExcelFile('autotrader.xlsx')
df = autotrader.parse('Sheet1')
df2000 = df[df['cc']>2000]
print(df2000)
print(df2000['price'].describe())
print(df2000['km'].describe())
print(df2000['cc'].describe())

   price      km    cc
0  21989   92259  2500
1  19990  118800  3984
2  19990   58328  2488
3  34990   80800  3198
4   6979   80146  3000
count        5.000000
mean     20787.600000
std       9938.577529
min       6979.000000
25%      19990.000000
50%      19990.000000
75%      21989.000000
max      34990.000000
Name: price, dtype: float64
count         5.000000
mean      86066.600000
std       22034.301686
min       58328.000000
25%       80146.000000
50%       80800.000000
75%       92259.000000
max      118800.000000
Name: km, dtype: float64
count       5.000000
mean     3034.000000
std       615.187776
min      2488.000000
25%      2500.000000
50%      3000.000000
75%      3198.000000
max      3984.000000
Name: cc, dtype: float64

Problem 1.6
1.	Create a dictionary called ‘grades’ with assignment1, assignment2, assignment3 and assignment4 as keys and as corresponding values the grade on each assignment (out of 10, choose the grades on the assignments yourself) 
2.	Print the keys of the dictionary
3.	Iterate over keys to print keys and values

In [1]:
#Problem 1.6
grades = {'Assignment1':7, 'Assignment2':8, 'Assignment3':9, 'Assignment4':10}
print(grades.keys())

for key in grades:
    print(key, '->', grades[key])

dict_keys(['Assignment1', 'Assignment2', 'Assignment3', 'Assignment4'])
Assignment1 -> 7
Assignment2 -> 8
Assignment3 -> 9
Assignment4 -> 10